<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
           
           button {
          display: block;
          width: 100%;
          margin-bottom: 10px;
          padding: 10px;
          font-size: 16px;
          box-sizing: border-box;
        }
    
        button {
          background-color: #4CAF50;
          color: white;
          border: none;
          cursor: pointer;
          box-sizing: border-box;
        }
    
        button:hover {
          background-color: #45a049;
        }
    </style>
</head>
<body>
  
<h1>Home Page</h1>
<a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

</body>
</html>