<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Signup Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-social.css">
    <style>
    /* Common styles */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .container {
      max-width: 400px;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
    }

    h2 {
      text-align: center;
    }

    input[type="text"],
    input[type="password"],
    button {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      padding: 10px;
      font-size: 16px;
      box-sizing: border-box;
    }

    button {
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
      box-sizing: border-box;
    }

    button:hover {
      background-color: #45a049;
    }

    a {
      color: #3498db;
      text-decoration: none;
    }

    /* Signup page */
    .signup-page {
      background-color: #f2f2f2;
      display: flex; /* Add this line */
      justify-content: center; /* Add this line */
      align-items: center; /* Add this line */
      height: 100vh; /* Add this line */
    }

    .signup-container {
      background-color: #fff;
      border-radius: 5px;
      max-width: 300px; /* Update this line */
      width: 100%; /* Add this line */
      padding: 20px;
    }
  </style>
</head>
<body class="signup-page">
  <div class="signup-container">
    <h2>Signup</h2>
    <form id="signup-form" action="/signup" method="POST">
      <div class="form-group">
        <input type="email" class="form-control" name="username" placeholder="email" required>
      </div>
      <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" required>
      </div>
      <button type="submit">Signup</button>
      <p>If have do login! <a href="/">Loign</a></p>
    </form>
  </div>

  <div class="col-sm-4">
    <div class="card">

      <div class="card-body">
        <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
          <i class="fab fa-google"></i>
          Sign In with Google
        </a>
      </div>
      <div class="card-body">
        <a class="btn btn-block btn-social btn-facebook" href="/auth/google" role="button">
          <i class="fab fa-facebook"></i>
          Sign In with facebook
        </a>
      </div>

    </div>
  </div>

  <script src="script.js"></script>
</body>
</html>
